h1,h2{
    text-align: center;
}
#main {
  background-color:white;
  display: flex;
}
#title {
    text-align: center;
    padding-top: 50px;
    font-size: x-large;
    width: 100%;
}

#image{  
  max-width: 100%;
  height:100;
  display: block;
 
}    

#img-caption{
    background-color:pink;
    text-align: center;
    margin-left: 40px;
    margin-top: 50px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    text-align: center;
}

#tribute-info{
    margin-top: 50px;
    text-align: center;
    text-align: justify;
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
    padding: 60px;
    line-height: 30px;
}